<div class="main_container">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Email</th>
              <th>Status</th>
              <th>Transactions sum</th>
              <th>Transactions</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user[:id] %></td>
                <td><%= user[:name] %></td>
                <td><%= user[:description] %></td>
                <td><%= user[:email] %></td>
                <td><%= user[:status] %></td>
                <td><%= user[:total_transaction_sum] %></td>
                <td><%= link_to 'View', transaction_path(user.id) %></td>
                <td><%= link_to 'Edit', edit_user_path(user.id) %> / <%= link_to 'Delete', user_path(user), method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
